
header{
    display: grid;
    grid-template-columns: 20% 40% 40%;
}

.headerpages1{
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-left: 100px;
}

.headerpages1 a{
    text-decoration: none;
    padding: 25px;
    font-size: 20px;
    color: black;
}

.headerpages2{
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-left: 90px;
}

.headerpages2 a{
    text-decoration: none;
    padding: 20px;
    font-size: large;
    border: 1.5px solid;
    border-radius: 6px;
    color: black;
}

.headerpages1 a:hover{
    background-color: black;
    color:white;
    border-radius: 50px;
}

.headerpages2 a:hover{
    color: white;
    background-color: black;
}

#ecommerce{
    font-size: 30px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    align-content: center;
    height: 50px;
}

#mainimg{
    border-radius: 15px;
    width: 1480px;
    margin-left: 12px;
    margin-top: 15px;
}

.main-imgdiv{
    position: relative;
    display: inline-block;
}

.img-texth1{
    position: absolute;
    top: 30%;
    left: 3%;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 50px;
    padding: 10px;
}

.img-textp{
    position: absolute;
    top: 45%;
    left: 3%;
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    padding: 10px;
}

.productcard{
    border: 1px solid;
    border-radius: 4px;
    width: 400px;
    text-align: center;
}

.product-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-left: 50px;
    column-gap: 15px;
    row-gap: 30px;
}

#latestproduct_title{
    font-size: 45px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 60px;
}

.latestproducts-pages{
    border-radius: 4px;
    border: 1px solid;
    background-color: white;
    text-align: center;
    font-size: large;
    padding: 10px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

.latestproducts-pages:hover{
    background-color: black;
    color: white;
}

.latestproducts{
    text-align: center;
}

.details-button{
    background-color: black;
    color: white;
    padding: 7px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

.addtocart-button{
    background-color: black;
    color: white;
    padding: 7px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

#aboutus-1{
    text-align: center;
    font-size: 43px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;

}

#aboutus-p{
    text-align: center;
    font-size: x-large;
}

#aboutus-2{
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter; 
}

.aboutus-imgcontainer{
    display: grid;
    grid-template-columns: 25%  25%  25%  25%;
    padding: 40px;
    margin-right: 20px;
}

.aboutus-img{
    height: 200px;
    width: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.aboutus-fig{
    border: 1.5px solid;
    height: 250px;
    width: 300px;
    border-radius: 5px;
}

.figcaption{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}